*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #8b00fc;
    --secondary-color: #3d2c61;
    --text-color: #ffffff;
    --background-dark: #1a1a1a;
    --background-light: #ffffff;
    --border-color: #c5c3c9;
    --hover-color: #8a8a8a;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #0B0F14;
}

/* navegação */
.navbar{
    background-color:linear-gradient(135deg, #0B0F14);;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px #1F2937;
}

.nav-container{
    max-width: 12000px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: 2px solid #1F2937;
    background-color: linear-gradient(135deg, grid-template-columns);;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 500;
}

.nav-menu :hover,
.nav-menu a.active{
    color: red;
    border-radius: 100px red;
    border: 2px  #60A5FA;
}

.btn{
    display: inline-block;
    background: #0059c5;
    color: white;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 1000px;
    font-weight: bold;
    transition: all 0.4s;
    border: 2px solid #0e315f;
}

.btn:hover{
    background: #420a0a;
}

.hero{
    background: linear-gradient(135deg, #0B0F14);
    color: white;
    padding: 6rem 2rem;
    text-align: center;
}

.features{
    background:linear-gradient(135deg, #0B0F14);;
    padding: 4rem 2rem;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 3rem;
}

.caixinha{
    background: linear-gradient(135deg, #173252);
    padding: 1.5rem;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(30,30,50,70);
    transition: transform 0.4s;
}

.caixinha:hover{
    transform: translateY(-5px);
}

.caixinha h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

footer{
    background-color: #536177;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
}


.about {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 80px 10%;
}