*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #0B0F14;
    --fundo-card: #12161C;
    --destaque-color: #0059C5;
    --texto-principal: #FFFFFF;
    --texto-secundario: #A1A1AA;
    --border-color: #1F2937;
}

body{
    
}